# ******************************************************************************
#
# pdflatex2, a Python/PDFLaTeX interface.
#
# Copyright 2022-2024 Jeremy A Gray <gray@flyquackswim.com>.  All
# rights reserved.
#
# Copyright 2019 Marcelo Bello.
#
# SPDX-License-Identifier: MIT
#
# ******************************************************************************

[flake8]

extend-ignore =
    E203,
    W503

per-file-ignores =
    __init__.py: F401

exclude =
    .git,
    .tox,
    __pycache__,

max-complexity = 20
max-line-length = 88
